$width: min(100vw, 600px);
$gap: min(10px, 2vw);
$keyPadding: 12px;
$keyGap: 5px;
$maxGridHeight: calc(100vh - ($keyPadding*2 + $keyGap)*3 - 55px);
$keySize: calc(($width - 9*$keyGap)/10);

$correct-color: #00de64;
$close-color: #fcba03;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $gap;
    > :not(:last-child) {
        margin-right: $gap;
    }
}

.square {
    display: flex;
    background-color: #262626;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: calc(0.08 * $width);
    text-align: center;
    align-items: center;
    align-content: center;
    > div {
        margin: auto;
    }
}

.square__4 {
    @extend .square;
    $heightLimitation: calc($maxGridHeight - 40px - 3*$gap)/5;
    $widthLimitation: calc(($width - 40px - 3*$gap)/4);
    width: min($heightLimitation, $widthLimitation);
    height: min($heightLimitation, $widthLimitation);
}
.square__5 {
    @extend .square;
    $heightLimitation: calc($maxGridHeight - 40px - 5*$gap)/8;
    $widthLimitation: calc(($width - 40px - 4*$gap)/5);
    width: min($heightLimitation, $widthLimitation);
    height: min($heightLimitation, $widthLimitation);
}

.square__6 {
    @extend .square;
    $heightLimitation: calc($maxGridHeight - 40px - 6*$gap)/9;
    $widthLimitation: calc(($width - 40px - 5*$gap)/6);
    width: min($heightLimitation, $widthLimitation);
    height: min($heightLimitation, $widthLimitation);
}

.square__correct {
    background-color: $correct-color;
}

.square__close {
    background-color: $close-color;
}

.keyboard {
    text-transform: uppercase;
    > :last-child {
        > :first-child, :last-child {
            width: calc($keySize*1.5)
        }
    }
}

.keyboardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $keyGap;
    > * {
        padding: $keyPadding 0;
        width: $keySize;
        text-align: center;
        border-radius: 4px;
        background-color: #a3a3a3;
    }

    > :not(:last-child) {
        margin-right: $keyGap;
    }
}

.key__disabled {
    background-color: #262626;
    pointer-events: none;
}

.key__correct {
    background-color: $correct-color;
}

.key__close {
    background-color: $close-color;
}