.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.appContainer {
  position: relative;
  max-width: 600px;
  height: 100%;
  margin: auto;
}

.appContent {
  position: relative;
  padding: 20px 20px 0 20px;
}